/* Basic element styling */
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}  
html, body {
    font-family: 'Libre Franklin', sans-serif !important;
    text-rendering: optimizeLegibility;
    background: #EEE !important;
}
h1, h2, h3, h4, h5, h6, p {
    color: #222;
}

/* Header styling */
header {
    text-align: center;
    padding-top: 25px;
    color: #FFF;
    border-bottom: 3px solid #DEDEDE;
    background: url(/static/images/header.png);
}
header h1 {
    font-weight: bold;
    margin-bottom: 5px;
}
header p {
    font-style: italic;
    color: #FFF;
}
header .nav {
    text-align: center;
    margin-bottom: 7px;
    width: 100%;
}
header .nav li a {
    color: #333;
    font-weight: bold;
    background: #FFF;
    margin-bottom: .5rem;
}
header .nav li:first-child a {
    border-radius: .25rem 0 0 .25rem;
}
header .nav li:last-child a {
    border-radius: 0 .25rem .25rem 0;
}
header .nav li a.active,
header .nav li a:hover {
    background: #DEDEDE;
}
.page-header .section-card {
    text-align: center;
}
.page-header h2 {
    margin-bottom: 0;
}
.page-header p {
    margin-top: .25rem;
    margin-bottom: 0;
}

/* Footer styling */
footer {
    background: #333;
    text-align: center;
    padding: .5rem;
    
    margin-top: .25rem;
    
}
footer p {
    font-size: 0.9em;
    color: #FFF;
    margin-bottom: 0;
}
footer p a {
    color: #FFF;
}
footer p a:hover {
    color: #DEDEDE;
}

/* Map styling */
.map {
    width: 100%;
    height: 500px;
}
/* Table styling */
table.table thead tr td {
    font-weight: bold;
    text-transform: uppercase;
}

/* Section card style - wraps most data elements */
.section-card {
    background: #FFF;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.section-card h3, .section-card h4 {
    font-weight: bold;
    color: #666;
}
.section-card h3 {
    font-size: 1.2em;
}
.section-card h4 {
    font-size: 1em;
}

/* Pagination styling */
.paginationjs ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
}
.paginationjs ul li {
    display: inline-block;
}
.paginationjs ul li a {
    border: 1px solid #dee2e6;
    padding: .5rem .75rem;
    margin-left: -1px;
}
.paginationjs ul li.active a {
    background: #DEDEDE;
}
.paginationjs ul li:first-child a {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.paginationjs ul li:last-child a {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}