{% extends 'base.html' %}

{% block content %}
<div class="row page-header">
    <div class="col section-card">
        <h2>Heatmaps</h2>
        <p>Heatmaps for San Francisco Police Department call data between January 13, 2018 and January 24, 2018.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm section-card">
        <h3>Dispatch Time Heatmap</h3>
        <p>
            Heatmap showing the longest average dispatch times with shortest in
            green and longest and most frequent in red.
        </p>
        <hr />
        
        <div class="map" id="dispatchTimeMap"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm section-card">
        <h3>Addresses with the Longest Average Dispatch Time</h3>
        <h4>How the Data is Aggregated</h4>
        <p>
            A count for the number of times each unique location appears in the
            data is calculated along with the average duration of time between
            when the call was received and when a unit was dispatched.
        </p>
        <p>
            Addresses with more than a few incidents are highlighted in yellow
            and addresses with several incidents are highlighted in red.
        </p>

        <h4>A Case for Reducing Average Dispatch Time</h4>
        <p>
            The 200 Block of MARKET ST is an area with the highest average
            dispatch time and frequent incidents. This area in particular has
            many Trail/Rail Incidents due to the concentration of BART stations
            in the area. These types of incidents often take extra time for fire
            crews to respond to.
        </p>
        <p>
            Additional units that are trained in responding to Trail/Rail Incidents
            may reduce the response time significantly.
        </p>

        <h4>Reducing Average Dispatch Time Thoughout the City</h4>
        <p>
            The <a href="{% url 'incident-metrics' %}">Incident Metrics page</a>
            shows that there are some neighborhoods that experience very few
            incidents, while others average 40-50 calls per day.
        </p>
        <p>
            In order to reduce dispatch time overall throughout the city, battalions
            servicing neighborhoods which receive very few calls could be given wider
            patrol areas, and battalions currently services areas with high
            incident counts could be given more concentrated patrol areas. This
            would reduce the resource strain on battalions working in areas
            with large numbers of calls, and in turn reduce the average dispatch
            time for these areas.
        </p>

        <div class="table-responsive" id="dispatchTimeTableContainer">
            <table class="table tablesorter" id="dispatchTimeTable">
                <thead>
                    <tr>
                        <th data-placeholder="Filter by address...">Address</th>
                        <th data-placeholder="Filter by time...">Avg. Dispatch Time (h:mm:ss)</th>
                        <th># of Calls</th>
                        <th># of Incidents</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <!-- Pager -->
            {% include 'pager.html' with pager="dispatchTimeTablePager" %}
        </div> 
    </div>
</div>
<div class="row">
    <div class="col-sm section-card">
        <h3>Address Frequency Heatmap</h3>
        <p>
            Heatmap showing the frequency of calls dispatched per address with
            green being the fewest and red being the most calls.
        </p>
        <hr />
        <div class="map" id="addressFreqMap"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm section-card">
        <h3>Addresses with the Most Calls Dispatched</h3>
        <p>
            Addresses with large numbers of calls dispatched may be areas
            where more services should be stationed to focus on emergency
            prevention.
        </p>

        <div class="table-responsive" id="addressFreqTableContainer">
            <table class="table tablesorter" id="addressFreqTable">
                <thead>
                    <tr>
                        <th data-placeholder="Filter by address...">Address</th>
                        <th data-placeholder="Filter by calls...">Number of Calls</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <!-- Pager -->
        {% include 'pager.html' with pager="addressFreqTablePager" %}
    </div>
</div>
{% endblock %}

{% load static %}
{% block scripts %}
<script>
var dispatchTimeMap, dispatchTimeHeatmap, addressFreqMap, addressFreqHeatmap;
</script>
{{ block.super }}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtE4eEKHGGOqQ7i6ewAeiaQ_TFQkydCfk&libraries=visualization&callback=initHeatmaps"></script>
{% endblock %}
