{% extends 'base.html' %}

{% block content %}
<div class="row page-header">
    <div class="col section-card">
        <h2>Heatmaps</h2>
        <p>Heatmaps for San Francisco Police Department call data between January 13, 2018 and January 24, 2018.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm section-card">
        <h3>Dispatch Time Heatmap</h3>
        <p>
            Heatmap showing the longest average dispatch times with shortest in
            green and longest and most frequent in red.
        </p>
        <hr />
        
        <div class="map" id="dispatchTimeMap"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm section-card">
        <h3>Addresses with the Longest Average Dispatch Time</h3>
        <p>
            <b>How the data is aggregated:</b> a count for the number of times 
            each unique location appears in the data is calculated along with the 
            average duration of time between when the call was received and when
            a unit was dispatched.
        </p>
        <p>
            Addresses with more than a few incidents are highlighted in yellow
            and addresses with several incidents are highlighted in red.
        </p>

        <h4>A Case for Reducing Average Dispatch Time</h4>
        <p>
            The 200 Block of MARKET ST is an area with the highest average
            dispatch time and frequent incidents. This area in particular has
            many Trail/Rail Incidents due to the concentration of BART stations
            in the area. These types of incidents often take extra time for fire
            crews to respond to.
        </p>
        <p>
            Additional units that are trained in responding to Trail/Rail Incidents
            may reduce the response time significantly.
        </p>

        <table class="table table-striped table-responsive" id="dispatchTimeTable">
            <thead>
                <tr>
                    <td>Address</td>
                    <td>Avg. Dispatch Time (h:mm:ss)</td>
                    <td># of Calls</td>
                    <td># of Incidents</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm section-card">
        <h3>Address Frequency Heatmap</h3>
        <p>
            Heatmap showing the frequency of calls dispatched per address with
            green being the fewest and red being the most calls.
        </p>
        <hr />
        <div class="map" id="addressFreqMap"></div>
    </div>
</div>
<div class="row">
    <div class="col-sm section-card">
        <h3>Addresses with the Most Calls Dispatched</h3>

        <table class="table table-striped table-responsive" id="addressFreqTable">
            <thead>
                <tr>
                    <td>Address</td>
                    <td>Number of Calls</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% load static %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/pagination.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/metrics_tables.js' %}"></script>
<script>
var dispatchTimeMap, dispatchTimeHeatmap, addressFreqMap, addressFreqHeatmap;
</script>
<script src="{% static 'js/metrics_heatmaps.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtE4eEKHGGOqQ7i6ewAeiaQ_TFQkydCfk&libraries=visualization&callback=initHeatmaps"></script>
{% endblock %}