{% extends 'base.html' %}

{% block content %}
<div class="row page-header">
    <div class="col section-card">
        <h2>Incident Metrics</h2>
        <p>Incident and crime metrics based on San Francisco Police Department data between January 13, 2018 and January 24, 2018.</p>
    </div>
</div>

<!-- Incident metric charts HTML -->
<div class="row">
    <!-- Incidents Per Day chart section -->
    <div class="col-sm section-card">
        <h3>Incidents Per Day in Most Populous Neighborhoods</h3>
        <p>Number of incidents per day for the top five most populous neighborhoods/districts in San Francisco.</p>
        <hr />

        <canvas id="incidentsPerDay" height="300" width="auto"></canvas>

        <h4>Incident Trends</h4>
        <p>
            During the data window, South of Market and Sunset/Parkside
            experienced slight downward trends in the number of incidents per
            day, while Mission and Financial District/South Beach experienced
            slight upward increases in the number of incidents per day.
        </p>
    </div>
    <!-- End Incidents Per Day chart section -->

    <!-- Most-likely dispatch type section -->
    <div class="col-sm section-card">
        <h3>Trends by Neighborhood</h3>
        <p>View incidents per day organized by type per neighborhood.</p>
        <hr />
        
        <form id="neighborhoodTrendForm" method="post">
            <div class="form-group">
                <label for="neighborhood">Neighborhood/District</label>
                <select name="neighborhood" class="custom-select" id="neighborhood" aria-describedby="neighborhoodHelp">
                </select>
                <small id="neighborhoodHelp" class="form-text text-muted">Select a neighborhood/district to chart.</small>
            </div>
            <!--<button type="submit" id="neighborhoodSubmit" class="btn btn-dark">Chart Neighborhood Trends</button>-->
            {% csrf_token %}
        </form>

        <!-- Neighborhood trend results -->
        <div id="trendResults" style="display:none;">
            <hr />
            <canvas id="neighborhoodTrendsChart" height="300" width="auto"></canvas>
        </div>
        <!-- End neighborhood trend results -->

        <p id="trendExample">
            As shown in the chart above, a majority of Sunset/Parkside's
            incidents are Medical. In the future, it may be worthwhile employing
            more medic units in the area.
        </p>
    </div>
    <!-- End most-likely dispatch type section -->
</div>

<div class="row">
    <!-- Safest Neighborhoods by Number of Calls table section -->
    <div class="col-sm section-card">
        <h3>Safest Neighborhoods by Number of Incidents</h3>
        <p>
            Neighborhoods with the fewest number of incidents recorded. Excludes
            citizen assistance/service calls, which are deemed non-dangerous.
        </p>

        <div class="table-responsive">
            <table class="table table-striped" id="incidentTable">
                <thead>
                    <tr>
                        <td>Neighborhood</td>
                        <td>Number of Incidents</td>
                        <td>Number of Calls</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <!-- End Safest Neighborhoods by Number of Calls table section -->
</div>
{% endblock %}

{% load static %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/Chart.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/chart_utils.js' %}"></script>
<script type="text/javascript" src="{% static 'js/incident_charts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pagination.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/metrics_tables.js' %}"></script>
<script type="text/javascript">
/**
 * Initializes the incident tables.
 */
function initIncidentTables() {
    // Retrieves the longest average dispatch time data,
    // and initializes the longest-dispatch heatmap.
    var endpoint = '/api/calls/safest-neighborhoods';
    $.ajax({
        method: 'GET',
        url: endpoint,
        success: function(data) {
            // Setup pagination for the average safest neighborhoods table
            // The columns in the table
            var cols = ['neighborhood_district', 'incidents', 'calls'];
            setupPagination($('#incidentTable'), data, cols);
        },
        error: function(resp) {
            console.error("An error occured when retrieving safest neighborhoods data.");
        }
    });
}

// Cache for the data to reduce POST request count
var neighborhoodData = {};

// Initializes the incident tables
initIncidentTables();

/**
 * Event listener for the neighborhood trend form to get the data
 * and generate the chart.
 */
$("#neighborhoodTrendForm").submit(function(e) {
    var endpoint = '/api/metrics/neighborhood-trends';
    var form = $(this);

    // Check the cache for the data
    var neighborhood = form.find('#neighborhood').val();
    if (neighborhoodData[neighborhood] !== undefined) {
        // Generate neighborhood trend chart
        createNeighborhoodTrendChart(neighborhoodData[neighborhood]);
    } else {
        $.ajax({
            method: "POST",
            url: endpoint,
            data: form.serialize(),
            success: function(data) {
                // Cache the data
                neighborhoodData[neighborhood] = data;

                // Generate neighborhood trend chart
                createNeighborhoodTrendChart(data);
            },
            error: function(resp) {
                console.error('An error occurred when retrieving neighborhood trend data.');
                var error = '<div class="alert alert-danger mt-3" role="alert"><p class="mb-0">' + 
                    resp.responseJSON.message + ' Please try again.</p></div>';
                
                var results = $("#trendResults");
                results.html(error);
                results.fadeIn();
            }
        });
    }

    // Prevent form submit causing page change
    e.preventDefault();
});

/**
 * Event listener to show/hide example trend analysis for Sunset/Parkside.
 */
$('#neighborhood').change(function() {
    // Display the example trend text if Sunset/Parkside is selected.
    if ($(this).val() == 'Sunset/Parkside') {
        $('#trendExample').fadeIn();
    } else if ($('#trendExample').is(':visible')) {
        $('#trendExample').fadeOut();
    }

    // Submit the form to show example data
    $("#neighborhoodTrendForm").submit();
});

/**
 * Populates the list of neighborhoods in the neighborhoodTrendForm for
 * user selection.
 */
 function populateNeighborhoodList() {
    var endpoint = '/api/calls/neighborhoods';
    
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(data) {
            // Remove top status layer of data
            data = data.data;

            var neigh; // Holds the name of the neighborhood
            var optionHtml; // The option HTML element
            for (var i = 0; i < data.length; i++) {
                neigh = data[i];
                
                // Pre-select Sunset/Parkside for example
                if (neigh != 'Sunset/Parkside') {
                    optionHtml = '<option value="' + neigh + '">' + neigh + '</option>';
                } else {
                    optionHtml = '<option value="' + neigh + '" selected>' + neigh + '</option>';
                }
                
                // Add to the select element
                $('#neighborhood').append(optionHtml);
            }
            
            // Submit the form to show example data
            $("#neighborhoodTrendForm").submit();
        },
        error: function(resp) {
            console.error('An error occurred when retrieving the neighborhood list.');
        }
    });
}

// Populates the neighborhood list in the neighborhoodTrendForm
populateNeighborhoodList();
</script>
{% endblock %}