{% extends 'base.html' %}

{% block content %}
<div class="row page-header">
    <div class="col section-card">
        <h2>Incident Metrics</h2>
        <p>Incident and crime metrics based on San Francisco Police Department data between January 13, 2018 and January 24, 2018.</p>
    </div>
</div>

<!-- Incident metric charts HTML -->
<div class="row">
    <!-- Incidents Per Day chart section -->
    <div class="col-sm section-card">
        <h3>Incidents Per Day in Most Populous Neighborhoods</h3>
        <p>Number of incidents per day for the top five most populous neighborhoods/districts in San Francisco.</p>
        <hr />

        <canvas id="incidentsPerDay" height="300" width="auto"></canvas>

        <h4>Incident Trends</h4>
        <p>
            During the data window, South of Market and Sunset/Parkside
            experienced slight downward trends in the number of incidents per
            day, while Mission and Financial District/South Beach experienced
            slight upward increases in the number of incidents per day.
        </p>
    </div>
    <!-- End Incidents Per Day chart section -->

    <!-- Most-likely dispatch type section -->
    <div class="col-sm section-card">
        <h3>Trends by Neighborhood</h3>
        <p>View incidents per day organized by type per neighborhood.</p>
        <hr />
        
        <form id="neighborhoodTrendForm" method="post">
            <div class="form-group">
                <label for="neighborhood">Neighborhood/District</label>
                <select name="neighborhood" class="custom-select" id="neighborhood" aria-describedby="neighborhoodHelp">
                </select>
                <small id="neighborhoodHelp" class="form-text text-muted">Select a neighborhood/district to chart.</small>
            </div>
            {% csrf_token %}
        </form>

        <!-- Neighborhood trend results -->
        <div id="trendResults" style="display:none;">
            <hr />
            <canvas id="neighborhoodTrendsChart" height="300" width="auto"></canvas>
        </div>
        <!-- End neighborhood trend results -->

        <p id="trendExample">
            As shown in the chart above, a majority of Sunset/Parkside's
            incidents are Medical. In the future, it may be worthwhile employing
            more medic units in the area.
        </p>
    </div>
    <!-- End most-likely dispatch type section -->
</div>

<div class="row">
    <!-- Safest Neighborhoods by Number of Calls table section -->
    <div class="col-sm section-card">
        <h3>Safest Neighborhoods by Number of Incidents</h3>
        <p>
            Neighborhoods with the fewest number of incidents recorded. Excludes
            citizen assistance/service calls, which are deemed non-dangerous.
        </p>

        <div class="table-responsive" id="incidentTableContainer">
            <table class="table table-striped tablesorter" id="incidentTable">
                <thead>
                    <tr>
                        <th data-placeholder="Filter by neighborhood...">Neighborhood</th>
                        <th data-placeholder="Filter by incidents...">Number of Incidents</th>
                        <th data-placeholder="Filter by calls...">Number of Calls</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            
            <!-- Pager -->
            {% include 'pager.html' with pager="incidentTablePager" %}
        </div>
    </div>
    <!-- End Safest Neighborhoods by Number of Calls table section -->
</div>
{% endblock %}

{% load static %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript">
/**
 * Initializes the incident tables.
 */
function initIncidentTables() {
    // Retrieves the longest average dispatch time data,
    // and initializes the longest-dispatch heatmap.
    var endpoint = '/api/calls/safest-neighborhoods';
    $.ajax({
        method: 'GET',
        url: endpoint,
        success: function(data) {
            // Setup pagination for the average safest neighborhoods table
            // The columns in the table
            var cols = ['neighborhood_district', 'incidents', 'calls'];
            loadTableData($('#incidentTable'), data, cols);

            // Setup table sorting
            $('#incidentTable').tablesorter(
                getSorterOptions([[1,0]])
            ).tablesorterPager(getPagerOptions($('#incidentTablePager')));
        },
        error: function(resp) {
            console.error("An error occured when retrieving safest neighborhoods data.");
        }
    });
}

// Initializes the incident tables
initIncidentTables();
</script>
{% endblock %}