{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col">
        <h1>SFPD Dispatch Metrics</h1>
        <canvas id="typeResponseTime" width="400" height="400"></canvas>
        <canvas id="avgCallsPerHour" width="400" height="400"></canvas>
    </div>
</div>

{% load static %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/Chart.bundle.min.js' %}"></script>
<script>
var endpoint = '/api/metrics/';

$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data) {
        console.log(data);
        // Create the chart for call_type_group vs. response time
        createTypeRespTimeChart(data);
    },
    error: function(resp) {
        console.log(resp);
    }
})

function createTypeRespTimeChart(data) {
    var ctx = $("#typeResponseTime");

    var typeRespTimeChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: data["avg_response_time"]["groups"],
            datasets: [{
                label: 'Average Response Time',
                data: data["avg_response_time"]["data"],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Average Response Time Per Call Type Group'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Average Response Time (minutes)'
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Call Type Group'
                    }
                }]
            }
        }
    });

    var ctx = $("#avgCallsPerHour");

    var avgCallsPerHourChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: data["avg_calls_per_hour"]["labels"],
            datasets: [{
                label: 'Average Calls',
                data: data["avg_calls_per_hour"]["data"],
                backgroundColor: 'rgba(255, 0, 0, 0.2)',
                borderColor: 'rgba(255, 0, 0, 0.8)',
                borderWidth: 1
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Average Calls Per Hour of Day'
            },
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Average Number of Calls'
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Hour of Day'
                    }
                }]
            }
        }
    });
}
</script>
{% endblock %}

{% endblock %}