{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <h2>Dispatch Metrics</h2>
    </div>
</div>

<div class="container">
    <!-- Metric charts HTML/JavaScript -->
    {% include 'charts.html' %}

    <div class="row">
        <div class="col-sm">
            <form id="dispatchTypeForm" method="post">
                <div class="form-group">
                    <label for="address">Street Address</label>
                    <input name="address" type="text" class="form-control" id="address" aria-describedby="addressHelp" placeholder="Enter a street address">
                    <small id="addressHelp" class="form-text text-muted">Enter the location for the dispatch.</small>
                </div>
                <div class="form-group">
                    <label for="timestamp">Time</label>
                    <input name="time" class="form-control" aria-describedby="timestampHelp" type="time" step="1"></input>
                    <small id="timestampHelp" class="form-text text-muted">Enter the timestamp for the dispatch.</small>
                </div>
                <div class="form-group">
                    <label for="radius">Search Radius</label>
                    <select name="radius" class="form-control" aria-describedby="radiusHelp">
                        <option value="0.25">1/4 mile</option>
                        <option value="0.5" selected>1/2 mile</option>
                        <option value="0.75">3/4 mile</option>
                        <option value="1">1 mile</option>
                        <option value="1.5">1.5 miles</option>
                        <option value="2">2 miles</option>
                    </select>
                    <small id="radiusHelp" class="form-text text-muted">Enter a radius to search nearby.</small>
                </div>
                <button type="submit" class="btn btn-primary">Calculate Dispatch Type</button>
                {% csrf_token %}
            </form>

            <div id="nearbyResults"></div>
        </div>
    </div>
</div>
{% endblock %}

{% load static %}
{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/Chart.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/metrics_charts.js' %}"></script>
<script>
$("#dispatchTypeForm").submit(function(e) {
    var endpoint = '/api/calls/nearby';
    $.ajax({
        method: "POST",
        url: endpoint,
        data: $("#dispatchTypeForm").serialize(),
        success: function(data) {
            console.log(data);
            // Get nearby calls
            getNearbyCalls(data);
        },
        error: function(resp) {
            console.log(resp);
        }
    });

    // Prevent form submit causing page change
    e.preventDefault();
});

function getNearbyCalls(data) {
    data = data.data;
    var results = $("#nearbyResults");
    var nearbyData = '<p>Most likely dispatch required: <b>' + 
        data.unit_type_match + '</b> with <i>' + data.unit_type_match_count + 
        '</i> matching incidents.</p>';
    results.html(nearbyData);
}
</script>
{% endblock %}