<div id="pager" class="pager">
    <form>
        <button class="btn btn-dark btn-sm first">&laquo; First</button>
        <button class="btn btn-dark btn-sm prev">&lsaquo; Previous</button>
        <span class="page-display"></span>
        <button class="btn btn-dark btn-sm next">Next &rsaquo;</button>
        <button class="btn btn-dark btn-sm last">Last &raquo;</button>
        <label>
            Number of rows:
            <select class="form-control form-control-sm custom-select page-size">
                <option value="10">10</option>
                <option value="15" selected>15</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="all">All Rows</option>
            </select>
        </label>
    </form>
</div>