<div id="{{ pager }}" class="pager">
    <form>
        <span class="btn btn-dark btn-sm first">&laquo; First</span>
        <span class="btn btn-dark btn-sm prev">&lsaquo; Previous</span>
        <span class="pagedisplay"></span>
        <span class="btn btn-dark btn-sm next">Next &rsaquo;</span>
        <span class="btn btn-dark btn-sm last">Last &raquo;</span>
        <label>
            Number of rows:
            <select class="form-control form-control-sm custom-select pagesize">
                <option value="10">10</option>
                <option value="15" selected="selected">15</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="all">All Rows</option>
            </select>
        </label>
    </form>
</div>
